body
{
    font-family: "Poppins";
    margin:0;
}

h1
{
    font-size: 50px;
}

.name-highlight
{
    color: orange;
}

.half-width
{
    width: 39%;
    float: left;
    margin-left: 4%;
    padding-left: 4%;
}

.half-width img
{
    width: 110%;
}

.top-banner
{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
}

section
{
    height: 500px;
    padding-bottom: 150px;
}

.link-button
{
    color: dimgray;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg , lightSalmon,tomato);
    padding: 10px;
    color: white;
    font-weight: 700;
}
.link-button:hover{
    transition: ease-in-out;
  background-image: linear-gradient(45deg, deeppink,red);
}

h2
{
    font-size: 40px;
}

p
{
    color: dimgray;
}



.dream-area
{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.orange-highlight
{
    color: orange;
}

.single-experience
{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}

.experience-area
{
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#first-slice
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon , tomato);
    border-image-slice: 1;
}

#second-slice
{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}

footer p 
{
    text-align: center;
    color: dimgray;
    font-size: 12px;
}